<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259221570110-cd04uq0dtecglu54k8aisolpa7tkmd7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259221570110-cd04uq0dtecglu54k8aisolpa7tkmd7p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259221570110-mck9khvntk62uvl2o7l6b59hbiirfc46.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIjGebooXgFMq1ere60NTE-dp3eJGXI1M</string>
	<key>GCM_SENDER_ID</key>
	<string>259221570110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumen</string>
	<key>PROJECT_ID</key>
	<string>lumen-6c97f</string>
	<key>STORAGE_BUCKET</key>
	<string>lumen-6c97f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259221570110:ios:a5cd3065822db2007dc76f</string>
</dict>
</plist>